body {}
.dropbtn {
  background-color: rgba(255, 255, 255, 0.50);
  color: white;
  padding: 7%;
  margin: 9%;
  font-size: 16px;
  border: none;
  align-text: center;
  min-width: 100px;
  max-width: 100px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: linen;
  min-width: 100px;
  align-content: center;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding-top: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(187, 19, 19, 1);
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
  align-self: center;
  margin-left: 6px;
  min-width: 100px;
}
.dropbtn:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.50);
  color: rgba(187, 19, 19, 1);
}
.headerBar {
  margin: 0;
  padding: 0% 27%;
  background-color: #CC0000;
  display: block;
  
}
#slideshow {
  width: 80%;
  height: 400px;
  border: 2px black solid;
  border-radius: 5px;
  margin-left:10%;
  animation: slide 12s ease-in-out infinite;
}

@-webkit-keyframes slide {
  0% {
    background-image: url("Images/aerosmith.jpg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;

  }
  25% {
    background-image: url("Images/avdman 2.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
  }
  50% {
    background-image: url("Images/ge.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
  }
  75% {
    background-image:url("Images/giorno hair.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
  }
 
}