#openNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#navBar {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.4s;
  background-color: #dbdbdb;
}

#navBar ul {
  list-style: none;
  padding: 0;
}

#navBar .menuLinks {
  margin: 20% 0;
  list-style: none;
  text-align: center;
  border: 3px solid #b88be2;
  background-color: #b5b5b5;
  border-radius: 0px 15px 15px 0px;
}

#navBar .menuLinks:hover {
  background-color: white;
  border-color: #b5b5b5;
  border-left: 10px solid aquamarine;
}

#navBar .menuLinks a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 6% 0;
}

#navBar .menuLinks a div {
  width: 100%;
  height: 100%;
}

.classContent {
  transition: 0.5s;
  padding: 20px;
}
